body {
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #eeebdd;
  text-align: center;
}

.container{
  display: grid;
  justify-content: center;
}

h2{
  color: #1b1717
}