.popup-box {
  position: fixed;
  background: #00000050;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
}

.box {
  position: relative;
  width: 28%;
  margin: 0 auto;
  height: auto;
  max-height: 60vh;
  margin-top: calc(100vh - 65vh - 20px);
  background: #fff;
  border-radius: 12px;
  padding: 10px 10px 20px 10px;
  border: 18px solid #810000;
  overflow: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.box p {
  font-size: 14px;
  font-weight: 700;
}

.close-icon {
  cursor: pointer;
  position: fixed;
  right: calc(34%);
  top: calc(100vh - 65vh - 25px);
  background: #1b1717;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  line-height: 20px;
  text-align: center;
  border: 4px solid #810000;
  font-size: 20px;
  color: white;
}

input {
  padding: 6px;
  width: 25%;
  text-align: center;
  font-size: 14px;
  font-weight: 700;
  border: 3px solid #1b1717;
  border-radius: 10px;
}

input:focus {
  outline: none;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}
